In [1]:
!pip install opendatasets

Requirement already satisfied: opendatasets in c:\users\rosla\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\rosla\anaconda3\lib\site-packages (from opendatasets) (4.65.0)
Requirement already satisfied: kaggle in c:\users\rosla\anaconda3\lib\site-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in c:\users\rosla\anaconda3\lib\site-packages (from opendatasets) (7.1.2)
Requirement already satisfied: six>=1.10 in c:\users\rosla\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\rosla\anaconda3\lib\site-packages (from kaggle->opendatasets) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\users\rosla\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in c:\users\rosla\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in c:\users\rosla\anaconda3\lib\site-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\rosla\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.0.7)
Requirement already satisfied: bleach in c:\users\rosla\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: colorama in c:\users\rosla\anaconda3\lib\site-packages (from tqdm->opendatasets) (0.4.6)
Requirement already satisfied: packaging in c:\users\rosla\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (23.1)
Requirement already satisfied: webencodings in c:\users\rosla\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\rosla\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rosla\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rosla\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.4)

In [2]:
import opendatasets as od

In [3]:
dataset = 'https://www.kaggle.com/datasets/darrylljk/singapore-hdb-resale-flat-prices-2017-2024'

In [4]:
od.download(dataset)

Dataset URL: https://www.kaggle.com/datasets/darrylljk/singapore-hdb-resale-flat-prices-2017-2024
Downloading singapore-hdb-resale-flat-prices-2017-2024.zip to .\singapore-hdb-resale-flat-prices-2017-2024

100%|██████████| 2.30M/2.30M [00:01<00:00, 1.81MB/s]

In [5]:
import os

In [6]:
data_dir = '.\singapore-hdb-resale-flat-prices-2017-2024'

In [7]:
os.listdir(data_dir)

['sg-resale-flat-prices-2017-onwards.csv']

In [8]:
import pandas as pd

In [9]:
hdb_df = pd.read_csv('sg-resale-flat-prices-2017-onwards.csv')
hdb_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0
...,...,...,...,...,...,...,...,...,...,...,...
181257,2024-06,YISHUN,5 ROOM,502B,YISHUN ST 51,10 TO 12,112.0,Improved,2018,92 years 08 months,738000.0
181258,2024-06,YISHUN,5 ROOM,865,YISHUN ST 81,07 TO 09,122.0,Improved,1988,62 years 10 months,680000.0
181259,2024-06,YISHUN,EXECUTIVE,723,YISHUN ST 71,10 TO 12,146.0,Maisonette,1986,61 years,790000.0
181260,2024-06,YISHUN,EXECUTIVE,826,YISHUN ST 81,10 TO 12,146.0,Maisonette,1988,62 years 08 months,1000000.0
181261,2024-06,YISHUN,EXECUTIVE,826,YISHUN ST 81,04 TO 06,146.0,Maisonette,1988,62 years 08 months,1000000.0